# dependencies
/node_modules
*/node_modules/*
/.pnp
.pnp.js
/.env
.env
*/.env
.env/*
**/.env
# testing
/coverage

/back-end/node_modules
/front-end/node_modules
/back-end/.env
/front-end/.env
# production
/build
.vscode